section {
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.rocket-card {
  display: flex;
  gap: 1rem;
}

.rocket-card img {
  width: 20rem;
}

.rocket-info {
  font-size: 1.2rem;
  height: 100%;
  line-height: 2rem;
}

.rocket-info h2 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.badge {
  background-color: rgb(5, 166, 172);
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 1rem;
  padding: 0 4px;
}

.no-badge {
  display: none;
}

.reserve-rocket-button {
  margin-top: auto;
  background-color: rgb(8, 133, 206);
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 1rem;
  padding: 5px 7px;
  width: 10rem;
}

.cancel-reservation-button {
  background-color: white;
  border: 0.2px solid grey;
  border-radius: 3px;
  color: grey;
  font-size: 1rem;
  padding: 5px 7px;
}
