nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 4rem;
  border-bottom: solid 1px rgb(222, 220, 220);
}

.logo-conatiner {
  display: flex;
  align-items: center;
  gap: 8px;
}

.nav-logo {
  width: 4rem;
  height: 4rem;
}

.nav-h1 {
  font-size: 2.5rem;
}

.nav-ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 8px;
}

.nav-link {
  font-size: 1.5rem;
  text-decoration: none;
  color: rgb(8, 133, 206);
}

.activated {
  text-decoration: underline;
}
