.not-member {
  background-color: rgb(104, 104, 104);
  color: #fff;
  padding: 0.2rem;
  border-radius: 4px;
}

.action {
  font-size: 1.25rem;
  padding: 0.3rem;
  border: 2px solid rgb(104, 104, 104);
  border-radius: 4px;
  cursor: pointer;
}

.active-member {
  background-color: #18a2b8;
  color: #fff;
  padding: 0.2rem;
  border-radius: 4px;
}

.leave {
  font-size: 1.25rem;
  padding: 0.3rem;
  color: #e95460;
  border: 2px solid #e95460;
  border-radius: 4px;
  cursor: pointer;
}
